
.back {
    -fx-font-family: "书体坊安景臣钢笔行书";
    -fx-font-size: 72px;
}

.name {
    -fx-font-family: "Kaiti";
    -fx-font-size: 40px;
}

.tit {
    -fx-background-color: white;
    -fx-font-family: "Yu Gothic UI";
    -fx-font-size: 20px;
}

.root {
    background_color: #EEEEEE;
    scroll_pane_background_color: background_color;
    accent_color: #00ADB5;
    tab_pane_background_color: #EEEEEE;
}

.combo-box-base > .arrow-button > .arrow,
.choice-box > .open-button > .arrow,
.menu-button > .arrow-button > .arrow,
.split-menu-button > .arrow-button > .arrow {
    -fx-padding: 0.208em 0.358em 0.208em 0.358em; /* 2.5px 4.29px 2.5px 4.29px */
    -fx-shape: "M21.361,12.736l0.527,0.527L16,19.152l-5.889-5.889l0.527-0.527L16,18.098L21.361,12.736z";

    -fx-background-color: #222831;
}

.background{
    -fx-background-color: #EEEEEE;
}

.button {
    button_background_color: #EEEEEE;
    background_pressed_color: #393E46;
    -shrink-animate-on-press: true;
    border_hover_color: #00ADB5;
    -fx-border-color: transparent;
    -fx-border-width: 2;

    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-background-color: button_background_color;
    text_color: #222831;
    default_button_text_color: #EEEEEE;
    focus_ring_border_color: #EEEEEE;
    -fx-text-fill: text_color;
    border_hover_default_color: derive(accent_color, -40%);
}

.button:hover, .toggle-button:hover{
    -fx-border-color: border_hover_color;
}

.button:pressed, .toggle-button:pressed
{
    -fx-border-color: background_pressed_color;
    -fx-background-color: background_pressed_color;
}

.button:focused, .toggle-button:focused
{
    -fx-border-color: transparent, focus_ring_border_color;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 2);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled, .toggle-button:disabled
{
    -fx-opacity: 0.4;
    -fx-background-color: button_background_color;
    -fx-text-fill: text_color;
}

.button:default
{
    -fx-background-color: accent_color;
    -fx-text-fill: default_button_text_color;
}

.button:default:hover{
    -fx-border-color: border_hover_default_color;
}

.button:default:pressed {
    -fx-background-color: derive(accent_color, -40%);
}

.slider {
    track_hover_color: #666666;
    thumb_hover_color: #171717;

    thumb_pressed_color: #cccccc;
}

.text-field {
    text_color: #222831;
    border_color: #999999;
    border_hover_color: #666666;
    border_disabled_color: #d9d9d9;

    text_input_background_color: #EEEEEE;
    background_focused_color: #EEEEEE;
    background_hover_color: #EEEEEE;
    background_disabled_color: #eaeaea;

    text_color: #222831;
    text_focused_color: #222831;
    text_disabled_color: #adadad;
    prompt_text_color: #666666;

    highlight_color: accent_color;
    highlighted_text_color: #EEEEEE;
    
    -fx-font-family: "Yu Gothic UI";
    -fx-font-size: 12px;

    graphic_color: #747474;
}

.label {
    text_color: #222831;
}

.text {
    text_color: #222831;
}

.separator{
    border_color: #999;
}